<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meishimeike"
    android:versionCode="18"
    android:versionName="1.8" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".AppMsmk"
        android:theme="@style/NoneAnimation" >
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:name=".ActMain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActSearch"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActGetPic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActTopic"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActPerson"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".ActPicView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4fec8a3652701533c3000036" >
        </meta-data>

        <activity
            android:launchMode="singleTask"
            android:name=".ActDish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActDinner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActComment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActDishAttention"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActAbout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActContacts"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActFindPwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActFriends"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActInvite"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ActRegister"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActSetting"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActUserEdit"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActUserMsg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActSendName"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActSendDinner"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActSendDesc"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActPersonAttention"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActPersonFriend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActPersonMsg"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActTa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActTaAttention"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActTaFans"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ActSearchUser"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter >
                <action android:name="android.intent.action.GET_CONTENT" >
                </action>
            </intent-filter>
        </activity>

        <service
            android:exported="true"
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:launchMode="singleTask"
            android:name="ActUserMsgSend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActPersonModify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActDaren"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ActCitySel"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".weibo.sina.ActWeiboGuide"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ActWeiboGuide"
                    android:scheme="founderapp" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.SEND" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <data android:mimeType="image/*" >
                </data>
            </intent-filter>
        </activity>
        <activity
            android:name=".weibo.sina.ActWebView"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActShare"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActExplan"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActSinaFriend"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActNewDinner"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name="ActUserCommentSend"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>